{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>BabaKaDhaba</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
    <!-- Place favicon.ico in the root Internist, General Practitonery -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dripicons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'css/default.css' %}" />
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap-datepicker.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />


    <style>
      .offer-banner {
        position: absolute;
        right: 180px;
        top: 10%;
      }

      .section-menu-btn a {
        background: transparent;
        padding: 20px 25px;
        text-decoration: none;
        color: #ffff;
        font-weight: 600;
        border: 1.5px solid #ffce1c;
        transition: 0.3s ease-in-out;
      }

      .section-menu-btn a:hover {
        background: #ffce1c;
      }

      {% comment %} .brd img {
        transition: 0.3s ease-in-out;
      }

      .brd img:hover {
        transform: scale(1.1);
      } {% endcomment %}

      @media (max-width:1200px) {
        .offer-banner img {
          display: none;
        }
      }
    </style>

  </head>
  <body>
    <!-- header -->
    <header class="header-area">
      <div id="header-sticky" class="menu-area">
        <div class="container">
          <div class="second-menu">
            <div class="row align-items-center">
              <div class="col-xl-2 col-lg-2">
                <div class="logo">
                  <a href="{% url 'home' %}"
                  ><img src="{% static 'img/logo/logo.png' %}" alt="logo"
                    /></a>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 text-right d-none d-lg-block">
              </div>
              <div class="col-xl-5 col-lg-7">
                <div class="main-menu text-right pr-15">
                  <nav id="mobile-menu">
                    <ul>
                      <li class="has-sub">
                        <a href="{% url 'home' %}">Home</a>
                      </li>
                      <li><a href="#about">About Us</a></li>
                      <li class="has-sub">
                        <a href="{% url 'menu' %}">Menu</a>
                      </li>
                      <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-12">
                <div class="mobile-menu"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="offcanvas-overly"></div>
        <!-- offcanvas-end -->
      </div>
    </header>
    <!-- header-end -->
    <!-- main-area -->
    <main>
      <!-- slider-area -->
      <section id="home" class="slider-area fix p-relative">
        <div class="slider-active">
          <div
            class="single-slider slider-bg d-flex align-items-center"
            style="background-image: url('{% static "img/bg/header-bg.png" %}')"
          >
            <div class="container">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-5 col-md-5">
                  <div class="slider-content s-slider-content text-right">
                    <h2 style="font-size: 60px;" data-animation="fadeInUp" data-delay=".4s">
                      <span>ENJOY </span>OUR TOMATO PIZZA
                    </h2>
                    <p data-animation="fadeInUp" data-delay=".6s">
                      Topped with fresh tomatoes, herbs, and our secret sauce.A crispy crust and melty cheese make it irresistible!
                    </p>
                    <div class="slider-btn mt-25 mb-30">
                      <a
                        href="{% url 'menu' %}"
                        class="btn ss-btn"
                        data-animation="fadeInRight"
                        data-delay=".8s"
                      >Explore Menu
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-9 col-lg-7 col-md-7 pl-60">
                  <img
                    src="{% static 'img/bg/food1.png' %}"
                    alt="header-img"
                    class="header-img"
                    data-animation="fadeInLeft"
                    style="height: 573px; width: 573px;"
                  />
                  <div class="offer-banner" data-animation="fadeInRight">
                    <img src="{% static 'img/bg/veg2.png' %}" alt="header-img" style="height: 200px; width: 200px; transform: rotate(-30deg);" />
                  </div>

                  <div class="overly-text">TOMATO PIZZA</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="single-slider slider-bg d-flex align-items-center"
            style="background-image: url('{% static 'img/bg/header-bg.png' %}')"
          >
            <div class="container">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-5 col-md-5">
                  <div class="slider-content s-slider-content text-right">
                    <h2 style="font-size: 60px;" data-animation="fadeInUp" data-delay=".4s">
                      <span>TRY OUR </span> VEG MOMO
                    </h2>
                    <p data-animation="fadeInUp" data-delay=".6s">
                      Steamed to perfection, filled with spiced vegetables.Served hot with our signature spicy chutney.
                    </p>
                    <div class="slider-btn mt-25 mb-30">
                      <a
                        href="{% url 'menu' %}"
                        class="btn ss-btn"
                        data-animation="fadeInRight"
                        data-delay=".8s"
                      >Explore Menu
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-9 col-lg-7 col-md-7 pl-60">
                  <img
                    src="{% static 'img/bg/food8.png' %}"
                    alt="header-img"
                    class="header-img"
                    data-animation="fadeInLeft"
                    style="height: 573px; width: 573px;"
                  />
                  <div class="offer-banner" data-animation="fadeInRight">
                    <img src="{% static 'img/bg/veg2.png' %}" alt="header-img" style="height: 200px; width: 200px; transform: rotate(-30deg);" />
                  </div>

                  <div class="overly-text">VEG MOMO</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="single-slider slider-bg d-flex align-items-center"
            style="background-image: url('{% static 'img/bg/header-bg.png' %}')"
          >
            <div class="container">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-5 col-md-5">
                  <div class="slider-content s-slider-content text-right">
                    <h2 style="font-size: 60px;" data-animation="fadeInUp" data-delay=".4s">
                      <span>CRISPY </span> GOBI MANCHURIAN
                    </h2>
                    <p data-animation="fadeInUp" data-delay=".6s">
                      Indo-Chinese delight with bold, tangy flavors.Perfect as a starter or evening snack!
                    </p>
                    <div class="slider-btn mt-25 mb-30">
                      <a
                        href="{% url 'menu' %}"
                        class="btn ss-btn"
                        data-animation="fadeInRight"
                        data-delay=".8s"
                      >Explore Menu
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-9 col-lg-7 col-md-7 pl-60">
                  <img
                    src="{% static 'img/bg/food4.png' %}"
                    alt="header-img"
                    class="header-img"
                    data-animation="fadeInLeft"
                    style="height: 573px; width: 573px;"
                  />
                  <div class="offer-banner" data-animation="fadeInRight">
                    <img src="{% static 'img/bg/veg2.png' %}" alt="header-img" style="height: 200px; width: 200px; transform: rotate(-30deg);" />
                  </div>

                  <div class="overly-text">GOBI MANCHURIAN</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="single-slider slider-bg d-flex align-items-center"
            style="background-image: url('{% static 'img/bg/header-bg.png' %}')"
          >
            <div class="container">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-5 col-md-5">
                  <div class="slider-content s-slider-content text-right">
                    <h2 style="font-size: 60px;" data-animation="fadeInUp" data-delay=".4s">
                      <span>RICH </span> PANEER BUTTER MASALA
                    </h2>
                    <p data-animation="fadeInUp" data-delay=".6s">
                      Creamy gravy with tender paneer cubes, a North Indian classic.Best enjoyed with hot naan or steamed rice.
                    </p>
                    <div class="slider-btn mt-25 mb-30">
                      <a
                        href="{% url 'menu' %}"
                        class="btn ss-btn"
                        data-animation="fadeInRight"
                        data-delay=".8s"
                      >Explore Menu
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-9 col-lg-7 col-md-7 pl-60">
                  <img
                    src="{% static 'img/bg/food3.png' %}"
                    alt="header-img"
                    class="header-img"
                    data-animation="fadeInLeft"
                    style="height: 573px; width: 573px;"
                  />
                  <div class="offer-banner" data-animation="fadeInRight">
                    <img src="{% static 'img/bg/veg2.png' %}" alt="header-img" style="height: 200px; width: 200px; transform: rotate(-30deg);" />
                  </div>

                  <div class="overly-text">PANEER-BUTTER MASALA</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- slider-area-end -->

      <!-- about-area -->
      <section id="about" class="about-area about-p pt-100 pb-80 p-relative">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-sm-12">
              <div class="s-about-img p-relative" >
                <img src="{% static 'img/about/about-2.jpg' %}" style="border-radius: 20px; height: 500px" alt="img" />
              </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
              <div class="about-content s-about-content pl-30">
                <div class="title-about">
                  <div class="section-title mb-20">
                    <span>ABOUT US</span>
                    <h2>LOCATED IN A SMALL TOWN</h2>
                    <p>Made of fresh & premium ingredients</p>
                  </div>
                  <div class="year mb-20">
                    <div class="text">
                      <h2>25 <sub>+</sub></h2>
                      <p>YEARS OF EXPERIENCE</p>
                    </div>
                  </div>
                </div>
                <div class="about-text mb-15">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam
                  </p>
                </div>
                <div class="about-text">
                  <div class="avatar">
                    <img src="{% static 'img/about/avatar.png' %}" alt="avatar" />
                    <div class="text">
                      <h4>Jemi D. William</h4>
                      <span>FOUNDER</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about-area-end -->

      <!-- services-area -->
      <section
        id="services"
        class="services-area services-bg services-two pt-100 pb-100"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
              <div class="section-title text-center pl-40 pr-40 mb-75">
                <span> FEATURES</span>
                <h2>CORE FEATURS</h2>
                <p class="mt-10"><img src="{% static 'img/bg/line.png' %}" alt="line" /></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="s-single-services text-center active">
                <div class="services-icon">
                  <img src="{% static 'img/services/s-icon01.png' %}" alt="img" />
                </div>
                <div class="second-services-content">
                  <h5>
                    <a href="#">BEST QUALITY FOOD</a>
                  </h5>
                  <p class="pt-10">
                    <img src="{% static 'img/services/s-line.png' %}" alt="line" />
                  </p>
                  <p class="pt-20 pb-30">
                    We serve expertly crafted dishes made with premium ingredients to deliver unmatched flavor and quality every time.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="s-single-services text-center active">
                <div class="services-icon">
                  <img src="{% static 'img/services/s-icon02.png' %}" alt="Fresh Ingredients" />
                </div>
                <div class="second-services-content">
                  <h5><a href="#">FRESH INGREDIENTS</a></h5>
                  <p class="pt-10">
                    <img src="{% static 'img/services/s-line.png' %}" alt="line" />
                  </p>
                  <p class="pt-20 pb-30">
                    We use locally-sourced, fresh and organic ingredients to ensure the best taste and health.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="s-single-services text-center">
                <div class="services-icon">
                  <img src="{% static 'img/services/s-icon03.png' %}" alt="Family Friendly" />
                </div>
                <div class="second-services-content">
                  <h5 style="text-transform: capitalize;"><a href="#">FAMILY FRIENDLY</a></h5>
                  <p class="pt-10">
                    <img src="{% static 'img/services/s-line.png' %}" alt="line" />
                  </p>
                  <p class="pt-20 pb-30">
                    Our warm, welcoming atmosphere and kid-friendly options make us the perfect place for families to dine together.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- services-area-end -->


      <!-- Popular-Food-area-start -->
      <section
        class="meal-select-section pt-120 pb-120"
        style="
               background-image: url('{% static 'img/bg/meal-bg.png' %}');
               background-repeat: no-repeat;
               background-attachment: fixed;
               background-size: cover;
               box-shadow: inset 120px 0 160px 0 rgb(0, 0, 0);
              "
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
              <div class="section-title text-center pl-40 pr-40 mb-65">
                <span> POPULAR</span>
                <h2>POPULAR DISHES</h2>
                <p class="mt-10"><img src="{% static 'img/bg/line.png' %}" alt="line" /></p>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
              <div class="populer-meal">
                <ul>
                  <li>
                    <div class="meal-container">
                      <div class="meal-img">
                        <img src="{% static 'img/meal/m-img01.png' %}" style="border-radius: 15px;" alt="img" />
                      </div>
                      <div class="meal-content">
                        <h5>
                          <a href="#">CRISPY FRIED CHICKEN</a>
                        </h5>
                        <p>&#8377;13.00</p>
                      </div>
                      <div class="line">
                        <hr />
                      </div>
                      <div class="meal-price" style="width:170px;">
                        <a href="#" style="padding:10px;">ORDER NOW</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="meal-container">
                      <div class="meal-img">
                        <img src="{% static 'img/meal/m-img02.png' %}" style="border-radius: 15px;" alt="img" />
                      </div>
                      <div class="meal-content">
                        <h5>
                          <a href="#">CRISPY FRIED CHICKEN</a>
                        </h5>
                        <p>&#8377;13.00</p>
                      </div>
                      <div class="line">
                        <hr />
                      </div>
                      <div class="meal-price" style="width:170px;">
                        <a href="#" style="padding:10px;">ORDER NOW</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="meal-container">
                      <div class="meal-img">
                        <img src="{% static 'img/meal/m-img03.png' %}" style="border-radius: 15px;" alt="img" />
                      </div>
                      <div class="meal-content">
                        <h5>
                          <a href="#">CRISPY FRIED CHICKEN</a>
                        </h5>
                        <p>&#8377;13.00</p>
                      </div>
                      <div class="line">
                        <hr />
                      </div>
                      <div class="meal-price" style="width:170px;">
                        <a href="#" style="padding:10px;">ORDER NOW</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="meal-container">
                      <div class="meal-img">
                        <img src="{% static 'img/meal/m-img04.png' %}" style="border-radius: 15px;" alt="img" />
                      </div>
                      <div class="meal-content">
                        <h5>
                          <a href="#">CRISPY FRIED CHICKEN</a>
                        </h5>
                        <p>&#8377;13.00</p>
                      </div>
                      <div class="line">
                        <hr />
                      </div>
                      <div class="meal-price" style="width:170px;">
                        <a href="#" style="padding:10px;">ORDER NOW</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="meal-container">
                      <div class="meal-img">
                        <img src="{% static 'img/meal/m-img05.png' %}" style="border-radius: 15px;" alt="img" />
                      </div>
                      <div class="meal-content">
                        <h5>
                          <a href="#">CRISPY FRIED CHICKEN</a>
                        </h5>
                        <p>&#8377;13.00</p>
                      </div>
                      <div class="line">
                        <hr />
                      </div>
                      <div class="meal-price" style="width:170px;">
                        <a href="#" style="padding:10px;">ORDER NOW</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="meal-container">
                      <div class="meal-img">
                        <img src="{% static 'img/meal/m-img06.png' %}" style="border-radius: 15px;" alt="img" />
                      </div>
                      <div class="meal-content">
                        <h5>
                          <a href="#">CRISPY FRIED CHICKEN</a>
                        </h5>
                        <p>&#8377;13.00</p>
                      </div>
                      <div class="line">
                        <hr />
                      </div>
                      <div class="meal-price" style="width:170px;">
                        <a href="#" style="padding:10px;">ORDER NOW</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="meal-container">
                      <div class="meal-img">
                        <img src="{% static 'img/meal/m-img07.png' %}" style="border-radius: 15px;" alt="img" />
                      </div>
                      <div class="meal-content">
                        <h5>
                          <a href="#">CRISPY FRIED CHICKEN</a>
                        </h5>
                        <p>&#8377;13.00</p>
                      </div>
                      <div class="line">
                        <hr />
                      </div>
                      <div class="meal-price" style="width:170px;">
                        <a href="#" style="padding:10px;">ORDER NOW</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="meal-container">
                      <div class="meal-img">
                        <img src="{% static 'img/meal/m-img08.png' %}" style="border-radius: 15px;" alt="img" />
                      </div>
                      <div class="meal-content">
                        <h5>
                          <a href="#">CRISPY FRIED CHICKEN</a>
                        </h5>
                        <p>&#8377;13.00</p>
                      </div>
                      <div class="line">
                        <hr />
                      </div>
                      <div class="meal-price" style="width:170px;">
                        <a href="#" style="padding:10px;">ORDER NOW</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
              <div class="section-menu-btn text-center pl-40 pr-40 mb-65 mt-65">
                <a href="{% url 'menu' %}">EXPLORE ALL MENU</a>
              </div>
            </div>
          </div>
        {% comment %} </div> {% endcomment %}
        </section>
      <!-- Meal-area-end -->
      <!-- testimonial-area -->
        <section
          id="testimonios"
          class="testimonial-area testimonial-p pt-120 pb-115 fix"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="title-about">
                  <div class="section-title mb-20">
                    <span>TESTIMONIALS</span>
                    <h2>SOME CUSTOMER FEEDBACKS</h2>
                  </div>
                </div>
              </div>
              <div class="col-lg-6"></div>
            </div>

            <div class="row justify-content-center">
              <div class="col-lg-12">
                <div class="testimonial-active">
                  <div class="single-testimonial">
                    <div class="single-testimonial-bg">
                      <div class="com-icon">
                        <img src="{% static 'img/bg/comment-icon.png' %}" alt="img" />
                      </div>
                      <div class="star mb-30">
                        <img src="{% static 'img/testimonial/star.png' %}" alt="img" />
                      </div>
                      <p>
                        The best Kerala vegetarian meals I’ve ever had! Every dish tasted home-cooked, full of authentic flavor and love. A must-visit for anyone craving traditional sadya.
                      </p>
                      <div class="arrow-yellwo">
                        <img src="{% static 'img/testimonial/arrow-box.png' %}" alt="img" />
                      </div>
                    </div>
                    <div class="testi-author">
                      <div class="ta-info">
                        <h6>ANJALI RAVI</h6>
                        <span>KOZHIKODE</span>
                      </div>
                    </div>
                  </div>
                  <div class="single-testimonial">
                    <div class="single-testimonial-bg">
                      <div class="com-icon">
                        <img src="{% static 'img/bg/comment-icon.png' %}" alt="img" />
                      </div>
                      <div class="star mb-30">
                        <img src="{% static 'img/testimonial/star.png' %}" alt="img" />
                      </div>
                      <p>
                        I was blown away by the variety and taste of the dishes. The banana leaf service and the sambhar reminded me of Onam at home. Great ambiance and polite staff too!
                      </p>
                      <div class="arrow-yellwo">
                        <img src="{% static 'img/testimonial/arrow-box.png' %}" alt="img" />
                      </div>
                    </div>

                    <div class="testi-author">
                      <div class="ta-info">
                        <h6>RAHUL DEV</h6>
                        <span>ERNAKULAM</span>
                      </div>
                    </div>
                  </div>
                  <div class="single-testimonial">
                    <div class="single-testimonial-bg">
                      <div class="com-icon">
                        <img src="{% static 'img/bg/comment-icon.png' %}" alt="img" />
                      </div>
                      <div class="star mb-30">
                        <img src="{% static 'img/testimonial/star.png' %}" alt="img" />
                      </div>
                      <p>
                        Super clean, great service, and every item is pure veg and delicious. Their avial and payasam are next level. Highly recommended for families and tourists, Must visit.
                      </p>
                      <div class="arrow-yellwo">
                        <img src="{% static 'img/testimonial/arrow-box.png' %}" alt="img" />
                      </div>
                    </div>

                    <div class="testi-author">
                      <div class="ta-info">
                        <h6>NEETHU KUMAR</h6>
                        <span>TRIVANDRUM</span>
                      </div>
                    </div>
                  </div>
                  <div class="single-testimonial">
                    <div class="single-testimonial-bg">
                      <div class="com-icon">
                        <img src="{% static 'img/bg/comment-icon.png' %}" alt="img" />
                      </div>
                      <div class="star mb-30">
                        <img src="{% static 'img/testimonial/star.png' %}" alt="img" />
                      </div>
                      <p>
                        From soft idlis to flavorful thalis, this place is an authentic, pure veg heaven. The aromatic spices are just right, and the atmosphere is peaceful and welcoming. Will definitely return.
                      </p>
                      <div class="arrow-yellwo">
                        <img src="{% static 'img/testimonial/arrow-box.png' %}" alt="img" />
                      </div>
                    </div>
                    <div class="testi-author">
                      <div class="ta-info">
                        <h6>MANOJ PILLAY</h6>
                        <span>KOCHI</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      <!-- testimonial-area-end -->

      <!-- team-area-->
        <section
          id="team"
          class="pt-115 pb-40"
          style="
                 background-image: url('{% static 'img/bg/test-bg.png' %}');
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: cover;
                "
        >
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-8 col-lg-8">
                <div class="section-title text-center mb-70">
                  <span> TEAM </span>
                  <h2>OUR CHEFS</h2>
                  <p class="mt-10"><img src="{% static 'img/bg/line.png' %}" alt="line" /></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-4 col-md-4">
                <div class="single-team mb-30">
                  <div class="team-thumb">
                    <div class="brd">
                      <img src="{% static 'img/team/team02.png' %}" alt="img" />
                    </div>
                  </div>
                  <div class="team-info text-center">
                    <div class="num">01</div>
                    <h4>HARI PRASAD</h4>
                    <p>HEAD CHEF</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4">
                <div class="single-team mb-30">
                  <div class="team-thumb">
                    <div class="brd">
                      <img src="{% static 'img/team/team02.png' %}" alt="img" />
                    </div>
                  </div>
                  <div class="team-info text-center">
                    <div class="num">02</div>
                    <h4>HARI PRASAD</h4>
                    <p>HEAD CHEF</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-4">
                <div class="single-team mb-30">
                  <div class="team-thumb">
                    <div class="brd">
                      <img src="{% static 'img/team/team02.png' %}" alt="img" />
                    </div>
                  </div>
                  <div class="team-info text-center">
                    <div class="num">03</div>
                    <h4>HARI PRASAD</h4>
                    <p>HEAD CHEF</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      <!-- team-area-end -->
      </main>
    <!-- main-area-end -->
    <!-- footer -->
      <footer class="footer-bg footer-p">
        <div
          class="footer-top pt-120 pb-200"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-4 col-lg-4 col-sm-6">
                <div class="footer-widget text-center mb-30">
                  <div class="flog mt-50 mb-30">
                    <a href="#"><img src="{% static 'img/logo/logo.png' %}" alt="logo" /></a>
                  </div>
                  <div class="footer-text mb-20">
                    <p>
                      Sed ut perspiciatis unde om is nerror sit voluptatem
                      accustium dolorem tium totam rem aperam eaque ipsa quae ab
                      illose inntore veritatis
                    </p>
                  </div>
                  <div class="footer-social mt-30">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                      {% comment %} <a href="#"><i class="fab fa-twitter"></i></a> {% endcomment %}
                    <a href="#"><i class="fab fa-instagram"></i></a>
                      {% comment %} <a href="#"><i class="fab fa-google-plus-g"></i></a> {% endcomment %}
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-sm-6">
                <div class="footer-widget mb-30 text-center">
                  <div class="f-time-icon">
                    <img src="{% static 'img/bg/time-bg.png' %}" alt="logo" />
                  </div>
                  <div class="f-widget-title mt-100">
                    <span>AVAILABLE</span>
                    <h5>OPENING HOURS</h5>
                  </div>
                  <div class="footer-link">
                    <div class="f-time">
                      <ul>
                        <li>
                          <div class="day">MONDAY</div>
                          <div class="time">9.00 - 22.00</div>
                        </li>
                        <li>
                          <div class="day">TUESDAY</div>
                          <div class="time">9.00 - 22.00</div>
                        </li>
                        <li>
                          <div class="day">SATURDAY</div>
                          <div class="time">9.00 - 22.00</div>
                        </li>
                        <li>
                          <div class="day">SUNDAY</div>
                          <div class="time">9.00 - 22.00</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-sm-6">
                <div class="footer-widget mb-30 text-center">
                  <div class="f-contact-icon">
                    <img src="{% static 'img/bg/f-contact-icon.png' %}" alt="logo" />
                  </div>
                  <div class="f-widget-title mt-100">
                    <span>CONTACT</span>
                    <h5>GET IN TOUCH</h5>
                  </div>
                  <div class="footer-link">
                    <div class="f-contact">
                      <p>Helipad North Cliff, Varkala, Kerala 695141</p>
                      <a href="https://www.google.com/maps/dir/?api=1&destination=Baba+Ka+Dhaba+Varkala" target="_blank" class="btn ss-btn mt-20">GET DIRECTIONS</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <!-- footer-end -->

    <!-- JS here -->
    <!-- JS here -->
      <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
      <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/one-page-nav-min.js' %}"></script>
      <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
      <script src="{% static 'js/slick.min.js' %}"></script>
      <script src="{% static 'js/ajax-form.js' %}"></script>
      <script src="{% static 'js/paroller.js' %}"></script>
      <script src="{% static 'js/wow.min.js' %}"></script>
      <script src="{% static 'js/js_isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'js/imagesloaded.min.js' %}"></script>
      <script src="{% static 'js/parallax.min.js' %}"></script>
      <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
      <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
      <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
      <script src="{% static 'js/parallax-scroll.js' %}"></script>
      <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
      <script src="{% static 'js/element-in-view.js' %}"></script>
      <script src="{% static 'js/jquery.nice-select.js' %}"></script>
      <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>

      <script async src="https://www.googletagmanager.com/gtag/js?id=G-XC3C5J9MC6"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-XC3C5J9MC6'); </script>
    </body>
  </html>
